<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8"/>
<title>this is add contact page</title></head>
<body>
<section>
<div class="card mr-3 ml-3">

<div class="card-body">

<h1 class="text-center">Add Contact</h1>

<div class="container-fluid mt-1">

<div class="row">

<div class="col-md-8 offset-md-2">

<form action="#"
th:object="${contact}"
enctype="multipart/form-data"
method="POST"
th:action="@{/user/process-contact}"
class="mt-2"
>

<!--  First Name -->

<div class="input-group">

<div class="input-group-prepend">

<div class="input-group-text">

<i class="fa fa-plus"></i>

</div>

</div>

<input required type="text" id="firstName" name="name" placeholder="Enter name here" class="form-control"/>

</div>

<!-- Second Name -->

<div class="input-group mt-3">

<div class="input-group-prepend">

<div class="input-group-text">

<i class="fa fa-user-alt"></i>

</div>

</div>

<input required type="text" id="secondName" name="secondName" placeholder="Enter Nick Name here" class="form-control"/>

</div>

<!--  phone Field -->

<div class="input-group mt-3">

<div class="input-group-prepend">

<div class="input-group-text">

<i class="fa fa-phone"></i>

</div>

</div>

<input required min="10" type="number" id="phone" name="phone" placeholder="Enter phone number here" class="form-control"/>

</div>

<!--  Email field -->

<div class="input-group mt-3">

<div class="input-group-prepend">

<div class="input-group-text">

@

</div>

</div>

<input required type="email" id="email" name="email" placeholder="Enter email here" class="form-control"/>

</div>

<!-- Work Field -->

<div class="input-group mt-3">

<div class="input-group-prepend">

<div class="input-group-text">

<i class="fa fa-briefcase"></i>

</div>

</div>

<input type="text" id="work" name="work" placeholder="Enter Work here" class="form-control"/>

</div>

<!-- Contact Description -->

<div class="form-group mt-3">

<textarea id="default-editor" name="description" class="form-control" placeholder="Enter contact description" rows="20"></textarea>

</div>

<!-- Contact Image -->

<div class="custom-file">

<input type="file" name="profileImage" />

</div>

<div class="container text-center">
<button class="btn btn-outline-primary">Save Contact</button></div>

</form>

</div>

</div>

</div>

</div>

</div>
 <script src="https://cdn.tiny.cloud/1/pbdyx353iy3w09dq4r2qxclopawvmyw3zibbvwi0kqgku8vf/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
 <script>
 tinymce.init({
	  selector: 'textarea#default-editor'
	});
 </script>
</section>
</body></html>