<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/CSS/style.css}"/>
    <title th:text="${title}">base html</title>
  </head>
  <body>
    
   <!-- nav bar -->
   <nav class=" fixed-top navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">Smart Contact Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto text-uppercase">
      <li class="nav-item active">
        <a th:href="@{/}" class="nav-link" href="#"><i class="fa-solid fa-house"></i> Home <span class="sr-only">(current)</span></a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link"  tabindex="-1" aria-expanded="true"><i class="fa-solid fa-user"></i><span th:text="${user.name}"></span>
          
        </a></li>
      <li class="nav-item">
        <a th:href="@{/logout}" class="nav-link" tabindex="-1" aria-expanded="true"><i class="fa-solid fa-right-from-bracket"></i>
           Logout
        </a></li>
    </ul>
  </div>
</nav>
   <!-- nav bar end -->
    
    
    <div class="sidebar mt-3">
    
    <span onClick="toggleSlidebar()" class="crossBtn">&times;</span>
    
    <a href="#" th:href="@{/user/index}" class="item"><i class="fa-solid fa-house"></i> Home</a>
    <a href="#" th:href="@{/user/show-contacts/0}" class="item"><i class="fa-solid fa-address-book"></i> View Contact</a>
    <a href="#" th:href="@{/user/add-contact}" class="item"><i class="fa-sharp fa-solid fa-address-card"></i> Add Contact</a>
    <a href="#" class="item"><i class="fa-solid fa-user"></i> Your Profile</a>
    <a href="#" class="item"><i class="fa-sharp fa-solid fa-gear"></i> Setting</a>
    <a href="#" th:href="@{/logout}"class="item"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
    <div class="divider"></div>
    </div>
    <div class="content mt-5 mr-3">
     <i onClick="toggleSlidebar()" class="fas fa-bars m-3"></i>
     
     <div th:if="${session.message}" class="container">
     <div th:classappend="${'alert-'+session.message.type}" class="alert text-center" role="alert">
       <span th:text="${session.message.content}"></span>
</div>

     <th:block th:text="${#session.removeAttribute('message')}"></th:block>
     
     </div>
     
     
     <div th:replace="${content}"></div>
    
    </div>
    
   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/js/script.js}"></script>
   </body>
</html>