<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8"/>
<title>this is home page</title></head>
<body>
<section>
<div class="card mr-3 ml-3">
<div class="card-body">
<h1 class="text-center">Your Contacts</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="c: ${contacts}">
      <th scope="row" th:text="${c.cId}">1</th>
      <td th:text="${c.name}">Mark</td>
      <td th:text="${c.email}">Otto</td>
      <td th:text="${c.phone}">@mdo</td>
      <td>
      <button class="btn btn-danger btn-sm">Delete</button>
      <button class="btn btn-primary btn-sm">Update</button>

      </td>
    </tr>
    
  </tbody>
</table>

<!-- pagination -->

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item"><a class="page-link" href="#"><span th:text="${i}"></span></a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>

</div>

</div>
</section>
</body></html>