<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8"/>
<title>this is signup page</title></head>
<body>
<section>
<div class="container">
<div class="row">

<div class="col-md-8 offset-md-2">

<div class="my-card mt-1">

<div th:if="${session.message}" th:classappend=" ${session.message.type}" class="alert " role="alert">
  <p class="text-center" th:text="${session.message.content}"></p>
  
  <th:block th:text="${#session.removeAttribute('message')}"></th:block>
</div>

<div class="container text-center">

<img style="width:80px;" src=""th:src="@{/img/registration.png}" alt=""/>

</div>

<h1 class="text-center">Register Here!!</h1>

<form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">

<div class="form-group">
    <label for="name_field">Your Name</label>
    <input name="name" type="text" class="form-control" th:classappend="${#fields.hasErrors('name')?'is-invalid':''}" id="name_field" aria-describedby="emailHelp" placeholder="Enter Name" required th:value="${user.name}"/>
    
    <div class="invalid-feedback" th:each="e :${#fields.errors('name')}" th:text="${e}">
        
      </div>
</div>

<!-- email field -->
<div class="form-group">
    <label for="email_field">Your Email</label>
    <input name="email" type="email" class="form-control" id="email_field" aria-describedby="emailHelp" placeholder="Enter Email" required th:value="${user.email}"/>
</div>
<!-- password field -->
<div class="form-group">
    <label for="password_field">Your Password</label>
    <input name="password" type="password" class="form-control" id="password_field" aria-describedby="emailHelp" placeholder="Enter Password" required/>
</div>
<!-- about field -->
<div class="form-group">
    <textarea name="about" th:text="${user.about}" placeholder="Enter somthing about yourself" rows="6" class="form-control"></textarea>
</div>
<!-- terms and condition -->

<div class="form-group form-check">
<input type="checkbox"
name="agreement"
class="form-check-input"
id="agreement"
/>
<label for="agreement">Accept terms and conditions</label>
</div>


<div class="container text-center">
<button type="submit" class="btn bg-primary text-white"> Submit </button>
<button type="submit" class="btn bg-warning text-white"> Reset </button>
</div>

</form>
</div>


</div>
</div>
</div>
</section>
</body></html>